@{
    WMSPortal.Core.Model.User currentUser = (WMSPortal.Core.Model.User)HttpContext.Current.Session["userRoles"];
}
<header id="header">
    
    <div id="logo-group">
        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo-main">
            @if (!Request.IsAuthenticated)
            {
                <img src="~/content/img/agility.png" alt="Agility" class="logo-main">
            }
            @if (Request.IsAuthenticated)
            {
                <!-- Note: The activity badge color changes when clicked and resets the number to 0
                Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
                <span id="activity"> <i class="fa fa-cog"></i> <b class="badge"> @currentUser.Roles.Count() </b> </span>
            }
        </span>
        @if (Request.IsAuthenticated)
        {
            <!-- projects dropdown -->
            <div class="project-context hidden-xs">
                <span class="label">Connections:</span>
                <span id="connection-selector" class="project-selector dropdown-toggle" data-toggle="dropdown">@currentUser.CurrentRoleConnection.Name <i class="fa fa-angle-down"></i></span>
                <!-- Suggestion: populate this list with fetch and push technique -->
                <ul class="dropdown-menu">

                    @foreach (var item in currentUser.Roles)
                    {
                        <li>
                            <a href="#" onclick="ChangeConnection('@item.Id', '@item.Name')">@item.Name</a>
                        </li>
                    }
                </ul>
                <!-- end dropdown-menu-->
            </div>
            <!-- end projects dropdown -->
        }
        <!-- END LOGO PLACEHOLDER -->

    </div>



    <section id="top-right">
        @if (@Model is HelperResult)
        {
            @Model
        }
        else
        {
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        }
    </section>
</header>
<script>
    var _urlChangeConnection = '@Url.Action("ChangeConnection", "Home")';
    function ChangeConnection(connectionId, connectionName) {
        
        var path = window.location.pathname; // path only
        var url = window.location.href;     // full URL
        
        var returnUrl = $('#nav-main .active > a').attr('href');
        $("#connection-selector").html(connectionName + " <i class='fa fa-angle-down'></i>");
        var html_page = "";
        var active_url = $('#nav-main li li.active a').attr('href');

        $.ajax({
            url: _urlChangeConnection,
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ connectionId: connectionId }),
            dataType: "json",
            complete: function (data) {
                if (data.responseJSON.status === 'OK') {
                    if (typeof active_url !== "undefined") {
                        $.ajax({
                            url: active_url,
                            type: 'GET',
                            success: function (data) {
                                var html = data.replace('<div id="content">', '<div>');
                                $('#content').html(html);
                            }
                        });
                    }
                   
                }
                else {
                    $.when(kendo.ui.ExtAlertDialog.show({
                        title: "Error",
                        message: "The status cannot be updated at this time",
                        icon: "k-ext-error",
                        width: 500,
                        height: 120
                    }))
                }
            }

        });

    }
</script>
<style>
    #logo-group-main {
        width: 169px !important;
    }
    #logo-group-main > span {
        display: inline-block;
        height: 39px;
        float: left;
    }
    #logo-main {
        display: inline-block;
        margin-left: 9px;
    }
    #logo-main img {
        width: 150px;
        padding-top: 10px !important;
    }
</style>
<!-- END HEADER -->